<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 수정</title>
    <link rel="stylesheet" type="text/css" href="/lib/css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <!-- main -->
        <div class="containerbody" id="view">
            <div id="category" value="exambook"></div>
            <div class="main">
                <!-- 본문 -->
                <div class="bodytext_area box_inner">
                    <dl class="myinfo">
                        <form action="#" class="regForm">
                            <div class="tableBorder">
                                <div class="pageTitle">
                                    <h2>도서 수정</h2>
                                </div>
                                <ul class="leg_list">
                                    <li class="clear">
                                        <span class="tit_lbl">도서번호</span>
                                        <div class="reg_content"><input name="bkUid" id="bkUid" type="text" class="textBox" disabled :value=`${view.bkUid}`></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">도서제목</span>
                                        <div class="reg_content"><input name="bkTitle" id="bkTitle" type="text" class="textBox" :value=`${view.bkTitle}`></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">도서소개</span>
                                        <div class="reg_content"><input name="bkSummary" id="bkSummary" type="text" class="textBox" :value=`${view.bkSummary}`></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">도서가격</span>
                                        <div class="reg_content"><input type="text" name="bkPrice" id="bkPrice" class="textBox" :value=`${view.bkPrice}`></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">조회수</span>
                                        <div class="reg_content"><input type="text" name="bkViewcnt" id="bkViewcnt" class="textBox" disabled :value=`${view.bkViewcnt}`></div>
                                    </li>
                                    <li class="clear">
                                        <span class="tit_lbl">등록일</span>
                                        <div class="reg_content"><input type="text" name="bkRegdate" id="bkRegdate" class="textBox" disabled :value=`${view.bkRegdate}`></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="buttonArea">
                                <button type="button" class="button list margin_bottom_20" value="목록"onclick="location.href='/exambook/list'">목록</button>
                                <button type="button" class="button register margin_bottom_20" value="등록" id="sendit">등록</button>
                            </div>
                        </form>
                    </dl>
                </div>
                <!-- 본문 끝 -->
            </div>
        </div>
    </div>

    <!--아이콘 사용을 위한 설치 스크립트-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="/lib/js/exambook_view.js"></script>
    <script src="/lib/js/exambook_edit.js"></script>

</body>

</html>